{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <img class="me-3" src="https://img.favpng.com/19/0/20/machine-learning-deep-learning-with-python-artificial-intelligence-png-favpng-qFCv7GVnQNDpErJCX6ukpSHLw.jpg" alt="" width="48" height="38">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">{{ model.title }}</h1>
      <small>{{ model.description }}</small>
    </div>
  </div>
  {% include 'alert.html' %}

  <div id="Supervised" , style="height: 50px;"></div>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h2 class="border-bottom pb-2 mb-0 text-center">Training in process...</h2>
    <p class="pb-2 mb-0 text-danger p-5"><b>Error : </b>{{ error }}</p>
    <small class="d-block text-end mt-3">
      <a href="#">All updates</a>
    </small>
  </div>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Point to consider :</h6>
    <ul>
      <li class="text-danger">Please do not refresh the page.</li>
      <li></li>
    </ul>
  </div>
</main>

{% endblock content %}